#presentation {
  position: relative;

  // #presentation-image
  &-image {
    display: block;
    width: 100%;
  }
  
  // #presentation-content
  &-content {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    color: white;
    text-align: center;
  }
  
  &-title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: .3em;
  }
  &-author, &-difficulty {
    display: inline-block;
    margin: .2em;
  }
  &-difficulty::before {
    content: '-';
    margin-right: .3em;
  }
}




