#recipe {
  width: 60%;
  height: 100%;
  background: white;
  box-shadow: 0 0 30px #000;
  float: right;
  margin: 0;
}
#nav {
  width: 33%;
  height: 100%;
  margin: 10em;
  position: fixed;
  margin-left: 2em;
  font-size: 1.5em;
}
li {
  padding-bottom: 1em;
}
